.c-user-input--heading {
  font-size: 20px;
  color: gray;
  margin: 10px;
}

.c-user-input--input {
  margin: 10px;
  padding: 10px;
}

.c-user-input--button {
    background-color: rgba(58, 128, 0, 0.719);
    width: 200px;
    font-size: 20px;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

button:disabled {
    background-color: grey;
}

.c-user-input--inputs {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-user-input--wrapper {
    margin: 5px 20px
}